// Accommodations //

#accommodations {
  z-index: 2; /* slide under group 3 and 5 */

  .back {
    background: url(../img/storyback.jpg);
    background-size: cover;
    // background-position: bottom;
  }
}
