// Accommodations //

#accommodations {
  z-index: 2;

  .back {
    background: url(../img/accommodationsback.jpg);
    background-size: cover;
    background-position: left;

    @media only screen and (max-width: $medium-screen) {
      background: url(../img/accommodationsmobile.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .copy{
    button{
      margin-bottom: 0.5em;

      a:hover{
        color: white;
      }
    }
  }
}
