// Landing //

#landing {
  z-index: 5; /* slide over group 2 */

  .base {
    background: url(../img/lookingback.jpg);
    background-size: cover;
    background-position: 0% 40%;
  }

  // .wire {
  //   height: 3.5em;
  //   width: 0.05em;
  //   left: 9%;
  //   top: 20%;
  // }

  .circle{
    border-radius: 50px;
    border: solid 1px #905a28;
    position: absolute;
    bottom: 3%;
    width: 3em;
    height: 3em;
    left: 47%;

    &:hover{
      background-color: white;
      opacity: 0.4;
    }

    i{
      color: #905a28;
      vertical-align: center;
      font-size: 38px;
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
  //
  // .copy{
  //   text-transform: uppercase;
  //   text-align: left;
  //   font-size: 4em;
  //   line-height: 1.1em;
  //   color: #545454;
  //   left: 18%;
  //   top: 75%;
  //   background-color: rgba(255, 255, 255, 0.5);
  //   padding: 1.5em 1em 0.5em 1em;
  //   border-radius: 3px;
  // }
}
