#logistics {
  z-index: 4;
  
  .base {
    background: url(../img/logisticsback.jpg);
    background-size: cover;

    @media only screen and (max-width: $medium-screen) {
      background: url(../img/logisticsmobile.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
