// Parallax Container //

.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
}

// Layer Group //

.layer-group {
  position: relative;
  height: 500px;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

// Layer Construct //

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}

// Fore Layer 1 of 4 //

.fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

// Base Layer 2 of 4 //

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

// Back Layer 3 of 4 //

.back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

// Deep Layer 4 of 4 //

.deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

// Copy Holder //

.copy {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  h2 {
    text-transform: uppercase;
  }
}

// Wire Styling //

.wire {
  height: 10em;
  width: 0.2em;
  border-radius: 3px;
  background: url(../img/copperlines.png);
  background-size: cover;
  position: absolute;
}
