// Registry //

#registry {
  z-index: 2; /* slide under group 5 and 7 */

  .base {
    background: url(../img/whiteback.jpg);
    background-size: cover;
    background-position: center;
  }

  .copy{
    width: 380px;

    .wire-one{
      height: 3px;
      width: 20em;
      left: 10%;
      top: 10%;
    }

    .wire-two{
      height: 3px;
      width: 20em;
      left: 10%;
      bottom: 10%;
    }
  }
}
