// Registry //

#registry {
  z-index: 2; /* slide under group 5 and 7 */

  .base {
    background: url(../img/registryback.jpg);
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: $medium-screen) {
      background: url(../img/registrymobile.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .copy{
    h2{
      font-size: 22px;
    }
  }
}
