// RSVP //

#rsvp {
  z-index: 3; /* slide over group 7 */
  height: 240vh;

  .base {
    background: white;
  }

  .form{
    width: 100%;
    height: 100%;
    height: cover;
    overflow: hidden;
    font-family: avenir;
  }

  iframe{
    font-family: avenir;
  }

  .footer{
    width: 100%;
    background-color: #ECECEC;
    height: 9em;
    margin-top: -9em;
    position: absolute;

    p{
      vertical-align: middle;
      text-align: center;
      margin-top: 2em;

      i{
        color: #a30031;
        font-size: 16px;
      }
    }
  }

  div.freebirdFormviewerViewCenteredContent{
    font-family: avenir;
  }
}
