// Story //

#story {
  z-index: 3; /* slide under groups 1 and 3 */

  .back {
    background: url(../img/marble3back.png);
    background-size: cover;
    background-position: center;
  }

  .wire-one{
    height: 10em;
    width: 0.25em;
    left: 0%;
    top: 0%;
  }

  .wire-two{
    height: 0.25em;
    width: 8em;
    left: 0%;
    top: 0%;
  }

  .wire-three{
    height: 0.25em;
    width: 16em;
    right: 0%;
    bottom: 0%;
  }

  .wire-four{
    height: 8em;
    width: 0.25em;
    right: 0%;
    bottom: 0%;
  }

  .copy{

    width: 35em;
    padding: 2em;

    h2{
      text-transform: uppercase;
      font-size: 24px;
      font-weight: lighter;
      text-align: left;
    }

    p{
      text-align: left;
    }
  }
}
