// Story //

#story {
  z-index: 3;

  .back {
    background: url(../img/marble3back.png) center;
    background-size: cover;
  }

  .base{
    .copy{

      .wire-one{
        height: 3px;
        width: 18em;
        left: 10%;
        top: 10%;
      }

      .wire-two{
        height: 3px;
        width: 18em;
        left: 10%;
        bottom: 10%;
      }
    }
  }
}

  // .wire-one{
  //   height: 10em;
  //   width: 3px;
  //   left: 0%;
  //   top: 0%;
  // }
  //
  // .wire-two{
  //   height: 3px;
  //   width: 8em;
  //   left: 0%;
  //   top: 0%;
  // }

  // .wire-three{
  //   height: 3px;
  //   width: 16em;
  //   right: 0%;
  //   bottom: 0%;
  // }
  //
  // .wire-four{
  //   height: 8em;
  //   width: 3px;
  //   right: 0%;
  //   bottom: 0%;
  // }
