// Top Nav //

.topnav{
  background-color: transparent;
  display: inline-block;
  font-size: 0.9em;
  position: absolute;
  right: 2%;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
  z-index: 100;

  li{
    display: inline-block;
    padding: 1em;
  }

  @media only screen and (max-width: $medium-screen) {
    display: none;
  }
}
