<head>
  <title>Chris &amp; Mel</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
  <link rel="stylesheet" href="{{site.baseurl}}/public/css/styles.css" />
  <link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/public/js/script.js"></script>
</head>
