#{$all-buttons} {
  appearance: none;
  background-color: transparent;
  border: solid 1px #905a28;
  border-radius: 3px;
  color: #905a28;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  font-weight: bolder;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 18em;

  &:hover,
  &:focus {
    background-color: rgba(144, 90, 40,0.8);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
